.my-centered-dialog {
    transform: translate(-50%, -50%) !important; /* Adjusts position to center */
  }
  .custom-dialog-title{
    background-color: #2196f3;
    color:white;
    justify-content: center;
    font-size: 12px;
    
  }